<!DOCTYPE html>
<html lang="ko" >
	<head>
		<title> : Vue : </title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>

    <!-- Vue
      * v-bind: === attr() 과 흡사
      * v-if=""
      * v-else //v-if 와 인접해야함
      * v-for=""
      * v-on:메소드명=""
      * v-model="" // 양방향 binding form, input 매우 유용
      * ref="choice" // 선택자 this.$refs.choice.focus(); //남용은 안좋다. 어쩔수 없을 때..
    -->

    <div id="root" style="margin-top:50px; padding:20px; border:1px solid #222;">
      <div>{{ first.toString() }} 곱하기 {{ second }} 는?</div> <!-- {{ data }} 랜더링 가능, {{ data + 100 }} javascript 가능 -->
      <form action="" v-on:submit="onSubmit">
        <div>{{ value }}</div>
        <input type="number" ref="answer" v-model="value" /><!-- v-model = data의 value와 연결할 수 있음 '양방향 binding' -->
        <button type="submit">입력</button>
      </form>
      <div id="result">{{ result }}</div>
    </div>

  </body>
  <script>
    const app = new Vue({
      el : "#root",
      data : { //만들어야 할 화면의 바뀌는 부분을 data라 생각하고 구조를 생각하면 됨.
        first : Math.ceil(Math.random() * 9),
        second : Math.ceil(Math.random() * 9),
        value : '',
        result : '',
      },
      methods : {
        onSubmit(e){
          e.preventDefault();
          console.log(this, this.first * this.second, this.value);
          if(this.first * this.second === parseInt(this.value)){
            this.result="정답";
            this.first = Math.ceil(Math.random() * 9); //다시 다음 문제로 * 바뀌는 값만!! ~
            this.second = Math.ceil(Math.random() * 9);
            this.value = '';
            this.$refs.answer.focus(); //input의 ref="" //남용은 안좋다. 어쩔수 없을 때..
          } else {
            this.result="땡";
            this.value = '';
            this.$refs.answer.focus();
          }
        }
      }
    })

  </script>
</html>