<!DOCTYPE html>
<html lang="ko" >
	<head>
		<title> : Vue : </title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
    <div id="root">

    <!--
      * v-bind: === attr() 과 흡사
      * v-if=""
      * v-else //v-if 와 인접해야함
      * v-for=""
      * v-on:메소드명=""
      * v-model="" // 양방향 binding form, input 매우 유용
      * ref="choice" // 선택자 this.$refs.choice.focus(); //남용은 안좋다. 어쩔수 없을 때..
    -->

    </div>
  </body>
  <script>
    var app = new Vue({
			el : '',
			data : {

			},
			methods : {

			},
    })
  </script>
</html>