<!DOCTYPE html>
<html lang="ko" >
	<head>
		<title> : Vue : </title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
    <!--
      Vue -
      1. 모든 화면구성
      2. 바뀌는 부분 data로 구성하고 data를 컨트롤 하면서 화면을 구성한다.

      * v-text="" data에서 text 불러옴
      * v-once {{ 변수명 }} 처리 - 처음바인딩된 값 유지
      * v-html="" data에 작성된 마크업 호출
      * v-bind: === attr() 과 흡사 축약형 - :href
      * v-on:메소드명=""  축약형 - @click="XX", === onclick='' onfocus=''와 비슷하게 click, mouseover등의 이벤트 전달
      * v-model="" // 양방향 binding form, input 매우 유용
      * v-if="""
      * v-else //v-if 와 인접해야함
      * v-for=""
      * ref="choice" // 선택자 this.$refs.choice.focus(); //남용은 안좋다. 어쩔수 없을 때..

      ****
      html - kebab-case
      javascript - camalCase - vue가 알아서 camalCase로 처리해줌
      컴포넌트는 인스턴스보다 위에
      스크립트는 div#root 밑에
      ****
    -->
    <div id="root">
      <div class="target" @click="addClass()" :class="{ on : isActive, 'class-active' : hasActive }"><span v-if='obj'>{{ foo }}</span> Class 해보기</div>
    </div>
  </body>
  <script>
    //Object.freeze(obj);

    var app = new Vue({
			el : '#root',
			data : { //만들어야 할 화면의 바뀌는 부분을 data라 생각하고 구조를 생각하면 됨.
        isActive : false,
        hasActive : false,
        foo : 'null',
        obj : true,
			},
			methods : {
        addClass(){ // @click 매소드 연결
          if(this.isActive === true){
            this.isActive = false;
            this.hasActive = false;
            this.foo = 'remove';
          } else {
            this.isActive = true;
            this.hasActive = true;
            this.obj = true;
            this.foo = 'add';
          }
        }
			},
    })
  </script>
  <style>
    .target{width:150px;height:35px;font-size:14px;color:#222;text-align:center;line-height:35px;border:1px solid #222;background-color: #fff; cursor:pointer;}
    .target.on{color:red;border:1px solid red;}
    .target.class-active{background-color: #eee;}
  </style>
</html>